# Laravel 5 & Lumen specific
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env.local.php
.env.php
.env
composer.phar
composer.lock
### PhpStorm ###

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries
# .idea/shelf

# Packages
_ide_helper.php